<launch>
  <include file="$(find minilab_simulation)/launch/minilab_simulation.launch" />
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <param name="base_frame" value="base_link" />  
    <param name="xmin" value="-10" />
    <param name="xmax" value="10" />
    <param name="ymin" value="-10" />
    <param name="ymax" value="10" />
    <param name="odom_frame" value="odom"/> 
    <param name="map_update_interval" value="1.0" />
  </node>
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
    <param name="deadzone" value="0.12" />
  </node>
  <node name="teleop" pkg="myteleop" type="teleop.py"/>
  </launch>
